#html{ 
 height: 100vh;
}

body {
    background-image: url(https://i.ibb.co/4K9qYw8/pexels-pixabay-531880.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pleaseSignIn{
display: flex;
align-self: center;
justify-content: center;
align-items: center;
color: blanchedalmond;
text-decoration-line: underline;
font-family: 'Franklin Gothic Medium', sans-serif;
height: 100%;
width: 100%;
font-size: 5vh;
}

#mainBox {
display: flex;
background-color: rgba(6, 40, 46, 0.516);
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 4px 4px 4px rgba(52, 36, 8, 0.839);
border-radius: 25%;
max-height: 55vh;
max-width: 65vh;
min-height: 55vh;
min-width: 65vh;
}

#enterHere {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    row-gap: 1vh;
    border-radius: 25%;
    box-shadow: rgb(52, 36, 8);
    border: 0px;
    max-height: 68vh;
    max-width: 65vh;
    min-height: 8vh;
    min-width: 65vh;
}

#midBox {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(64, 185, 86, 0.543);
    box-shadow: 2px 2px 2px rgb(52, 36, 8);
    border-radius: 55%;
}

#username{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Franklin Gothic medium', sans-serif;
border-style: hidden;
border-radius: 25%;
text-align: center;
background-color: rgb(97, 67, 10);
-webkit-text-fill-color: blanchedalmond;
box-shadow: 10px -4px 4px rgba(52, 36, 8, 0.372);
height: 85%;
width: 100%;

}

#password{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Franklin Gothic medium', sans-serif;
border-style: hidden;
border-radius: 25%;
text-align: center;
background-color: rgb(12, 48, 92);
-webkit-text-fill-color: blanchedalmond;
box-shadow: -10px 4px 4px rgba(52, 36, 8, 0.369);
height: 85%;
width: 100%;

}

#submit{
    display: flex;
    justify-content: center;
    align-self: center;
background-color: rgb(96, 69, 23);
color: blanchedalmond;
font-family: 'Franklin Gothic medium', sans-serif;
border-radius: 200%;
border-color: rgb(6, 40, 46);
box-shadow: 4px 4px 4px rgb(52, 36, 8);
height: 85%;
min-width: 25%;
}

#submit:hover {
background-color: aliceblue;
color: black;
transform: rotateZ(180deg);
}

#username:hover{
    background-color: aliceblue;
    -webkit-text-fill-color: black;
}

#password:hover{
    background-color: aliceblue;
    -webkit-text-fill-color:black;
}